/* FONTE */

.body{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    margin-bottom: 0;

}

@import url('http://fonts.cdnfonts.com/css/black-chancery');

@font-face {
  font-family: BlackChancery;
  src: url('BlackChancery.ttf')
}




/* video background */


.full-screen{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -200px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 85%, 85% 85%, 0 85%);
}

.full-screen video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*     Apresentação    */

.apresentacao{
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  margin-top: -200px;
  margin-bottom: -100px;
}

.collapse ul a{
text-decoration-color: #fff;
text-decoration: none;
}

.collapse ul{
  display: flex;
  margin: 0px 30px;
  text-decoration: none;
}

.collapse ul li{
  font-family: 'Times New Roman', Times, serif ;
  list-style: none;
  margin-left: 35px;
  padding-left: 15px;
  padding-top: 15px;
  text-decoration: none;
}

.collapse ul li a{
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  position: relative;
}

.collapse ul li a:before{
  content: '';
  width: 0;
  height: 3px;
  background: #888888;
  position: absolute;
  top: 110%;
  left: 0;
  transition: .5s;
  text-decoration: none;
  
}

.collapse ul li:hover a:before{
  text-decoration: none;
  width: 75px;
  transform: translateX(0%);
}

.collapse ul li:hover a:after{
  text-decoration: none;
  width: 50%;
  transform: translateX(-100%);
}


/* carrousel */

.navbar{
background-color: rgba(0,0,0,.4);
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

.navbar-light .imgnavbar {
color: #fff;
max-width: 70px;
max-height: 70px;
}

.navbar-nav {
text-align: center;
padding: 0px;
margin: 0px;
}

.nav-link {
font-size: 1em;
margin-top: -13px;
}


.img-logo{
  max-width: 600px;
  width: 100%;
  height: 100%;
  max-height: 600px;
}


/* Novidades */

.novidades{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  background-color: #1C1C1C;
  min-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-posts{
  width: min(1200px, 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.post{
  width: calc(33% - 20px);
  overflow: invisible;
}

.post-img{
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}
/* mudar cor onde fica o texto nas imgs*/
.post-content {
  background-color: #363636;
  margin: 0 10px;
  padding: 20px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.post-content h3{
  font-size: 16px;
  margin-bottom: 5px;
  color:#f7f6f1;
}


.post:hover .post-img{
  transform: translateY(20px);
}

.post:hover .post-content{
  transform: translateY(-80px);
}

@media screen and (max-width: 1100px){
  .blog-posts{
    justify-content: center;
  }
  .post{
    width: min(600px, 100%);
  }
  
}






/* Rodape */


.footer{
	background-color: #363636;
    width: 100%;
	height: 100px;
	float: left;
	margin-top: 30px;
}

.footer p{
  text-align: center;
  color: #f7f6f1;
  padding-top: 50px;
  margin: 0;
 
}



.descricao{
margin: 3% auto;
height: 98%;
max-width: 900px;
width: 97%;
text-align: center;
background-color: #2e2e2e;
border-radius: 15px;
padding: 10px 30px 10px 30px;
  
}

.sobre{
  position: relative;
  margin: 3% auto;
  height: 98%;
  max-width: 1200px;
  width: 98%;
  color: white;
}
 

