/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Cinzel+Decorative:wght@400;700&display=swap');

 
h2{
  font-family: 'Allan', cursive;                                          
  color:#000;

}

h1{
  font-family: 'Cinzel Decorative', cursive;
  color: #ffffff;
}

      
.off{
  position: relative;
  width: 100%;
  margin-top: -10px;
  text-align: center;

}