/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
}


html{
    scroll-behavior: smooth;
} 


/* Header */

header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
}

header.sticky{
    padding: 10px 100px;
    background: #363636;    
}


header .logo{
    height: 3.5em;
    width: 100%;
    background-image: url(../titulo/LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

header ul li {
    position: relative;
    list-style: none;
    padding: 15px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

header ul li a {
    position: relative;
    margin: 0 15px;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-decoration: none;
}
header ul li:hover {
    background-color: #363636;
    transition: 0.8s;
    filter: brightness(140%);
}


header.sticky ul li a{
    color: #fff;
    text-decoration: none;
}

.puxarconteudo{
    transition: 3s;
}


/* Main */

.main{
    position: relative;
    background-color: #1C1C1C;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/* Divisoria */

.divisoria{
    text-align: center;
    max-width: 5000px;
    width: 100%;
}

.divisoria-img{
    margin-top: -18px;
    max-width: 120px;
}


/* Banner */

.banner{
    width: 100%;
    height: 100%;
    margin-right: -50px;
    min-height: 350px;
    background-image: url('../images/art0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    text-align: center; 
}


.banner img{
    margin-top: 150px;
    max-width: 350px;
    width: 98%;
    height: 98%;
}


/* Rodape */

.footer{
	background-color: #363636;
    width: 100%;
	height: 5rem;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f7f6f1;
    padding: 1.5rem 0 0 0;
}