/* Corpo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

.body{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
}

/* Header */

header{
    position: fixed;
    top: 1.5%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    border-radius: 10px;
}

header.sticky{
    padding: 8px 100px;
    background-color: rgba(36, 36, 36, 0.9);
}

header .logo{
    height: 3.5em;
    width: 100%;
    background-image: url(../images/LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

header ul li {
    position: relative;
    list-style: none;
    padding: 15px;
    text-align: center;
    clip-path: circle(50% at 50% 50%);
}

header ul li a {
    position: relative;
    margin: 0 15px;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-decoration: none;
}

header ul li:hover {
    background-color: #363636;
    transition: 0.8s;
    filter: brightness(140%);
}

header.sticky ul li a{
    color: #fff;
    text-decoration: none;
}

/* Banner */

.banner{
    width: 100%;
    height: 100%;
    margin-right: -50px;
    min-height: 350px;
    background-image: url('../images/art0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.banner2{
    width: 100%;
    height: 1000px;
    margin-right: -50px;
    min-height: 350px;
    background-image: url('../images/Wall1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.content{
    text-align: center;
    padding: 10rem 0 0 0;
}

.banner img{
    margin-top: 150px;
    max-width: 350px;
    width: 98%;
    height: 98%;
}

/* Main */

.main{
    position: relative;
    background-color: #1C1C1C;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: -100px;
}

/* Divisoria */

.divisoria{
    text-align: center;
    width: 100%;
}

/* Rodape */

footer{
    position: relative;
    width: 100%;
	height: 150px; /* Ajuste a altura conforme necessário */
    background: transparent; /* Certifique-se de que o fundo do rodapé seja transparente */
    z-index: 1000;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #f7f6f1;
    font-size: 20px;
}

/* Ondas */

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .parallax {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    will-change: transform;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% { 
        transform: translate3d(85px, 0, 0);
    }
}
  
  /*Mobile*/
  
@media only screen and (max-width: 768px) {
   
header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header .logo{
    height: 2.5rem;
}

header ul li {
    padding: 0.1px; /* Ajuste o espaçamento dos itens do menu */
}
header ul li a {
    font-size: 10px; /* Reduza o tamanho do texto do menu */
}

.banner2{
    background-position: -100px;
}

.title {
    font-size: 18px; /* Reduza o tamanho do texto do título do footer */
}
}