/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Oswald&display=swap');

h1{
  font-family: 'Germania One', cursive;
  color: #dc9767;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h2{
  font-family: 'Oswald', sans-serif;
  color: #deb89e;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

/* Main 2 */

.main2{
  position: relative;
  background-image: url('../images/back1.png');
  background-size: cover;
  background-position: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
}

/* Texto */

.texto{
  align-items: left;
  margin-left: 100px;
  max-width: 500px;
  margin-top: 50px;
}

/* BOX */

#box_geral{
  max-width:900px;
  width: 100%;
  margin:0 auto;
  display:block;
  background:#222;
  border-radius:3px;
  margin-top:50px;
  padding:10px;
}
  
#box_geral span{
  display:block;
  cursor:pointer;
  height: 100px;
  font-size:16px;
  text-align:center;
  background:#888888;
  color:#000;
  margin: 5px 0;
  padding:5px;
  border-radius:3px;
  font-size: 50px;
  text-align: center;
}

.box{
  padding:10px;
  color: white;
  height: 100%;
  max-height: 2000px;
}

#box_geral2{
  max-width:900px;
  width: 100%;
  margin:0 auto;
  display:block;
  background:#222;
  border-radius:3px;
  margin:50px 0;
  padding:10px;
}
    
#box_geral2 span{
  display:block;
  cursor:pointer;
  height: 100px;
  font-size:16px;
  text-align:center;
  background:#888888;
  color:#000;
  margin: 5px 0;
  padding:5px;
  border-radius:3px;
  font-size: 50px;
  text-align: center;
}
  
.box2{
  padding:10px;
  color: white;
  height: 100%;
  max-height: 2000px;
}
