/* Depois da divisoria */

.img-box{
  margin: 3% auto;
  height: 98%;
  max-width: 500px;
  width: 97%;
  text-align: center;
  border-radius: 50px;
  padding: 30px 30px 30px 30px;
}

.img3{
  max-width: 900px;
  width: 98%;
  height: 98%;
}

/* Script */

.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}