/* Geral */

.body{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    width: 100%;

}
  
.clear{
    clear: both;
}

@import url('http://fonts.cdnfonts.com/css/black-chancery');

h1 {
    font-family: 'BlackChancery', sans-serif;                                      
    color:#ffffff;
} 

h2 {
font-family: 'BlackChancery', sans-serif;
                                            
color:#3c3f32;
}

h3{
color: #4b6938;
font-family: "BlackChancery", sans-serif ;
}

/* nav mobile */
.collapse ul a{
text-decoration-color: #fff;
}

.collapse ul{
display: flex;
margin: 0px 30px;

}

.collapse ul li{
font-family: 'Times New Roman', Times, serif ;
list-style: none;
margin-left: 35px;
padding-left: 15px;
padding-top: 15px;

}

.collapse ul li a{
text-decoration: none;
font-size: 1em;
color: #fff;
position: relative;
}

.collapse ul li a:before{
content: '';
width: 0;
height: 3px;
background: #888888;
position: absolute;
top: 110%;
left: 0;
transition: .5s;
text-decoration: none;

}

.collapse ul li:hover a:before{
text-decoration: none;
width: 75px;
transform: translateX(-0%);
}

.collapse ul li:hover a:after{
text-decoration: none;
width: 50%;
transform: translateX(-100%);
}


/* carrousel */

.navbar{
background-color: rgba(0,0,0,.4);
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

.navbar-light .imgnavbar {
color: #fff;
max-width: 70px;
max-height: 70px;
}

.navbar-nav {
text-align: center;
padding: 0px;
margin: 0px;
}

.nav-link {
font-size: 1em;
margin-top: -13px;
}
  
    
/* Titulo abaixo do header */
    
.content{
    text-align: center; 
}

.img{
    margin-top: 150px;
    max-width: 350px;
    width: 98%;
    height: 98%;
}

.img1{
  border-radius: 8px;
}


.tituloblog{
    width: 100%;
    max-width: 5000px;
    height: 100%;
    margin-right: -50px;
    min-height: 350px;
    background-image: url('../images/2.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    clip-path: polygon(30% 0%, 63% 0, 100% 0, 100% 86%, 50% 100%, 50% 100%, 0 89%, 0 0);

}



/* Instruções */

.instrucao{
  color: white;
  text-align: center;
  margin: 2% auto;
  height: 98%;
  max-width: 1000px;
  width: 97%;
  text-align: center;
}

.instrucao p{
  font-size: 1rem;
}




/* Fomulário para envio de nota fiscal */

.form{
  margin: 3% auto;
  height: 98%;
  max-width: 500px;
  width: 97%;
  text-align: center;
  background-color: #2e2e2e;
  border-radius: 40px;
  padding: 30px;
  }
  
  .formulario{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
    width: 98%;
    max-width: 32rem;
    height: 100%;
  }
  
  .formulario label,
  .formulario input,
  .formulario textarea,
  .formulario button{
    display: block;
    width: 100%;
  }
  
  .formulario label{
    color: #f0eef5;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  
  .formulario input,
  .formulario textarea{
    font: inherit;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: box-shadow, border-color 0.3s;
  }
  
  .formulario button{
    margin-top: 0.8rem;
    display: block;
    padding: 0.8rem;
    color: #1C1C1C;
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  .formulario > a{
    margin-top: 0.8rem;
    display: block;
    padding: 0.8rem;
    color: #1C1C1C;
    background-color: white;
    outline: none;
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .formulario textarea{
    min-height: 13rem;
    resize: vertical;
  }
  
  .formulario input:hover,
  .formulario input:focus,
  .formulario textarea:hover,
  .formulario textarea:focus{
    border-color: #1C1C1C;
    box-shadow: 0 0 0 3px #504f4f;
  }
  
  .formulario button:hover,
  .formulario button:focus{
    color: white;
    background: #1C1C1C;
  }
  
  .formulario > a:hover,
  .formulario > a:focus{
    color: white;
    background: #1C1C1C;
  }
  









/* Rodape */


.footer{
    background-color: #363636;
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 30px;
  }
  
  .footer p{
    text-align: center;
    color: #f7f6f1;
    padding-top: 50px;
    margin: 0;
  }