/* Instruções */

.container-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}

.instrucao{
  color: white;
  text-align: center;
  height: 98%;
  max-width: 1000px;
  width: 98%;
  text-align: center;
}

.instrucao p{
  font-size: 125%;
}

.img3{
  margin-top: 40px;
  max-width: 500px;
  width: 98%;
  height: 98%;
}

/* Fomulário para envio de nota fiscal */

.form{
  margin: 3% auto;
  height: 98%;
  max-width: 500px;
  width: 97%;
  text-align: center;
  background-color: #2e2e2e;
  border-radius: 40px;
  padding: 30px;
  }
  
  .formulario{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
    width: 98%;
    max-width: 32rem;
    height: 100%;
  }
  
  .formulario label,
  .formulario input,
  .formulario textarea,
  .formulario button{
    display: block;
    width: 100%;
  }
  
  .formulario label{
    color: #f0eef5;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  
  .formulario input,
  .formulario textarea{
    font: inherit;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: box-shadow, border-color 0.3s;
  }
  
  .formulario button{
    margin-top: 0.8rem;
    display: block;
    padding: 0.8rem;
    color: #1C1C1C;
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  .formulario > a{
    margin-top: 0.8rem;
    display: block;
    padding: 0.8rem;
    color: #1C1C1C;
    background-color: white;
    outline: none;
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .formulario textarea{
    min-height: 13rem;
    resize: vertical;
  }
  
  .formulario input:hover,
  .formulario input:focus,
  .formulario textarea:hover,
  .formulario textarea:focus{
    border-color: #1C1C1C;
    box-shadow: 0 0 0 3px #504f4f;
  }
  
  .formulario button:hover,
  .formulario button:focus{
    color: white;
    background: #1C1C1C;
  }
  
  .formulario > a:hover,
  .formulario > a:focus{
    color: white;
    background: #1C1C1C;
  }