/* Geral */

.body{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    margin-bottom: 0;
    width: 100%;

}

@import url('http://fonts.cdnfonts.com/css/black-chancery');

@font-face {
  font-family: 'BlackChancery', sans-serif;
  src: url(https://www.cdnfonts.com/black-chancery.font);
}

 
h2 {
  font-family: 'BlackChancery', sans-serif;
                                                
  color:#ffffff;
}

h3{
  color: #54d1d1;
  font-family: "BlackChancery", sans-serif ;
}

/* nav mobile */
.collapse ul a{
text-decoration-color: #fff;
}

.collapse ul{
  display: flex;
  margin: 0px 30px;
  
}

.collapse ul li{
  font-family: 'Times New Roman', Times, serif ;
  list-style: none;
  margin-left: 35px;
  padding-left: 15px;
  padding-top: 15px;
  
}

.collapse ul li a{
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  position: relative;
}

.collapse ul li a:before{
  content: '';
  width: 0;
  height: 3px;
  background: #888888;
  position: absolute;
  top: 110%;
  left: 0;
  transition: .5s;
  text-decoration: none;
  
}

.collapse ul li:hover a:before{
  text-decoration: none;
  width: 75px;
  transform: translateX(-0%);
}

.collapse ul li:hover a:after{
  text-decoration: none;
  width: 50%;
  transform: translateX(-100%);
}

/* .collapse ul li a{
  
  font-size: 1em;
  color: #fff;
  position: relative;
}

.collapse ul li a:before{
  content: '';
  width: 0;
  height: 3px;
  background: #888888;;
  position: absolute;
  top: 110%;
  left: 0px;
  transition: .5s;
  
  
}

.collapse ul li:hover a:before{
  
  width: 110px;
  height: 50px;
  transform: translateX(100%);
  transform: translateY(-100%);
  opacity: 0.4;
}

.collapse ul li:hover a:after{
  text-decoration: none;
  width: 100%;
  transform: translateX(100%);
} */



/* carrousel */

.navbar{
background-color: rgba(0,0,0,.4);
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

.navbar-light .imgnavbar {
color: #fff;
margin-top: 5px;
max-width: 110px;
max-height: 110px;
}

.navbar-nav {
text-align: center;
padding: 0px;
margin: 0px;
}

.nav-link {
font-size: 1em;
margin-top: -13px;
}



/* Titulo abaixo do header */

.content{
  text-align: center; 
}

.img{
  width: 350px;
  margin-top: 100px;
}


.tituloblog{
  width: 100%;
  max-width: 5000px;
  height: 100%;
  margin-right: -50px;
  min-height: 350px;
  background-image: url('../images/2.jpg');
  background-size: cover;
  background-repeat: repeat-x;
  clip-path: polygon(30% 0%, 63% 0, 100% 0, 100% 86%, 50% 100%, 50% 100%, 0 89%, 0 0);

}




/*  Flipcard - animação dos cards  */ 
/* Revertar os comentários para aplicar novamente o efeito e ajustar o resto. */
.flip-card-back ul li{
  color: white;
  float: left;
  font-size: 16px;
  margin: 6px;
  margin-left: 50px;
}

.flip-card {
  float: left;
  margin: 50px 15px;
  background-color: transparent;
  text-align: center;
  width: 400px;
  height: 500px;
  border: 0px solid #f1f1f1;
   /* Remove this if you don't want the 3D effect */
  position: relative;
  width: calc(23% - 10px);
}

/* This container is needed to position the front and back side */
/* .flip-card-inner {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 500px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
} */

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}*/

/* Position the front and back side */
/* .flip-card-front, */.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden; -- Safari 
  backface-visibility: hidden; */
}

/* Style the front side (fallback if image is missing) */
/* .flip-card-front {
  background-image: url("../images/fundo1.png");
  color: black;
} */

/* Style the back side */
.flip-card-back {
  /* background-image: url("../images/fundo1.png"); */
  background-color:  #363636;
  color: white;
  /* transform: rotateY(180deg); */
}

.fliph2 ol{
  list-style: circle;
  text-align: left;
  margin-left: 60px;
  margin-top: 45px;
}

.fliph2 h2 {
  color: #ffffff;
  margin-top: 50px;
  
}

.fliph2 p {
  color: rgb(122, 233, 248);
  font-size: 19px;
}



.center{
  transform: translate(12%);
  
}


.clear{
  clear: both;
}

.profissoes{
  margin-top: 150px;
  width: 100%;
  max-width: 5000px;
  height: 100%;
  padding: 0px;
  margin: 0px;
    
}


/* Rodape */


.footer{
  background-color: #363636;
  width: 100%;
  height: 100px;
  position: absolute;
	margin-top: 30px;
}

.footer p{
  text-align: center;
  color: #f7f6f1;
  padding-top: 50px;
  margin: 0;
}


@media screen and (max-width: 1300px){

  .profissoes{
    width: 98%;
    max-width: 1300px;
    height: 100%;
    padding: 10px;
    margin: 15px;
    text-align: center;
  }

  /* .flip-card{
    text-align: center;
    width: 98%;
    max-width: 350px;
  } */

  .flip-card{
  width: 98%;
  max-width: 350px;
  display: inline;
  margin: 15px;
  text-align: center;
    
  }

  .center{  
    display: inline;
    width: 98%;    
  }


}