/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Germania+One&family=Oswald&display=swap');

h1{
    font-family: 'Germania One', cursive;
    color: #fff;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h2{
    font-family: 'Oswald', sans-serif;
    color: #BDBDBD;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h3{
    font-family: 'Condiment', cursive;
    color: #fff;
    font-size: 70px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black 
}

/* Conteudo */

.container{
  width: 100%;
  height: 1000%;
}

.box{
  display: flex;
  position: relative;
  height: 700px;
  padding: 30px;
}

.texto{
  width: 40%;
  text-align: left;
  align-items: left;
  margin: 30px;
  z-index: 2;
  max-width: 100%;
}

.texto-direita{
  width: 40%;
  text-align: right;
  align-items: right;
  margin: 30px;
  margin-left: 60%;
  z-index: 2;
  max-width: 100%;
}

.texto-ultimo{
  width: 45%;
  text-align: left;
  align-items: left;
  margin: 30px;
  z-index: 2;
  max-width: 100%;
}

.box-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/humano.png);
  background-size: cover;
}

.box-img1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/eladrin.png);
  background-size: cover;
}

.box-img2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/goblin.png);
  background-size: cover;
  z-index: 1;
}

.box-img3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/duergar.png);
  background-size: cover;
  z-index: 1;
}

.box-img4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/abyssal.png);
  background-size: cover;
  z-index: 1;
}

.box-img5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/orc.png);
  background-size: cover;
  z-index: 1;
}

.box-img6{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/infernal.png);
  background-size: cover;
  z-index: 1;
}

.box-img7{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/drag.png);
  background-size: cover;
  z-index: 1;
}

.box-img8{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/feral.png);
  background-size: cover;
  z-index: 1;
}

.box-img9{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/revenant.png);
  background-size: cover;
  z-index: 1;
}

.box-img10{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagesRcPf/hex.png);
  background-size: cover;
  z-index: 1;
}

/* Notebook */

@media only screen and (max-width: 1366px) {

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 16px;
  }

  .box{
    height: 530px;
    padding: 5px;
  }

  .texto{
    width: 45%;
    margin: 5px;
  }
  
  .texto-direita{
    width: 40%;
    margin: 5px;
    margin-left: 60%;
  }
  
  .texto-ultimo{
    width: 50%;
    margin: 5px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1280px) {

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 15px;
  }

  .box{
    height: 490px;
    padding: 5px;
  }

  .texto{
    width: 45%;
    margin: 5px;
  }
  
  .texto-direita{
    width: 40%;
    margin: 5px;
    margin-left: 60%;
  }
  
  .texto-ultimo{
    width: 70%;
    margin: 5px;
    max-width: 100%;
  }
}

/*Mobile*/
  
@media only screen and (max-width: 375px) {

  h1{
    font-size: 25px;
  }

  h2{
    font-size: 15px;
  }

  h3{
    font-size: 50px;
  }

  .box{
    height: 710px;
    padding: 20px;
  }

  .texto{
    width: 100%;
    margin: 5px;
  }
  
  .texto-direita{
    width: 100%;
    margin: 5px;
    margin-left: 0%;
  }
  
  .texto-ultimo{
    width: 100%;
    margin: 5px;
  }

  .box-img1{
    background-image: url(../images/w1.png);
  }

  .box-img3{
    background-image: url(../images/w1.png);
  }

  .box-img5{
    background-image: url(../images/w1.png);
  }

  .box-img7{
    background-image: url(../images/w1.png);
  }

  .box-img9{
    background-image: url(../images/w1.png);
  }
}