/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Pacifico&family=Germania+One&family=Oswald&display=swap');

h1{
    font-family: 'Germania One', cursive;
    color: #fff;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h2{
    font-family: 'Oswald', sans-serif;
    color: #BDBDBD;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h3{
    font-family: 'Condiment', cursive;
    color: #fff;
    font-size: 70px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black 
}

h4{
    font-family: "Pacifico", cursive;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black 
}

/* Background */

.container{
    width: 100%;
    height: 100%;
}

.box{
    display: flex;
    position: relative;
    height: 14000px;
    padding: 50px; 
}
  
.box-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/w1.png);
    background-size: auto;
    z-index: 1;
}

/* leitura */

.leitura{
    padding: 70px 70px;
    margin: 0 50px;
}

.conteudotexto{
    max-width: 1300px;
    color: white;
    text-align: justify;
    padding: 40px 40px;
    margin: auto;
}

.image-description {
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

/* Imagens Meio */

.image-meio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; /* Espaço entre as imagens */
    margin: 30px 0; /* Margem superior e inferior */
}

.image-container {
    width: 25%; /*Muda tamanho da imagem*/
}

.image-container img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25%;
}

/* Imagens Direita */

.image-direita {
    display: flex;
    align-items: flex-start; /* Alinhamento no topo */
    gap: 20px; /* Espaçamento entre texto e imagem */
    margin: 20px 0; /* Espaço em volta da seção */
}

.image-container2 img {
    border-radius: 25%;
}

.image-container3 img {
    width: 400px;
    height: auto;
    border-radius: 20%;
}

/* Video */

.video{
    width: 640px;
    height: 480px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centraliza o vídeo horizontalmente */
    display: block; /* Remove espaços extras ao redor do iframe */
}
    