/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Pacifico&family=Germania+One&family=Oswald&display=swap');

h1{
    font-family: 'Germania One', cursive;
    color: #fff;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h2{
    font-family: 'Oswald', sans-serif;
    color: #BDBDBD;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h3{
    font-family: 'Condiment', cursive;
    color: #fff;
    font-size: 70px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black 
}

h4{
    font-family: "Pacifico", cursive;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black 
}

/* Background */

.container{
    width: 100%;
    height: 100%;
}

.box{
    display: flex;
    position: relative;
    height: 4000px;
    padding: 50px; 
}
  
.box-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/w1.png);
    background-size: auto;
    z-index: 1;
}

/* leitura */

.leitura{
    padding: 70px 70px;
    margin: 0 50px;
}

.conteudotexto{
    max-width: 1300px;
    color: white;
    text-align: justify;
    padding: 40px 40px;
    margin: auto;
}

/* Paper */

.paper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px auto;
}

.paper {
    position: relative;
    width: 550px; 
    height: 650px; 
    background: url('../images/papel2.png') no-repeat center center; 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper h4 {
    margin: 80px;
    position: absolute;
    font-size: 25px;
}

/* Notbooks */

@media only screen and (max-width: 1366px) {

    .box{
        height: 4600px;
        padding: 50px; 
    }

    .paper h4 {
        margin: 50px;
        font-size: 23px;
    }

    .conteudotexto{
        padding: 30px 30px;
    }
}

@media only screen and (max-width: 1280) {

    .box{
        height: 4700px;
        padding: 50px; 
    }

    .paper h4 {
        margin: 30px;
        font-size: 22px;
    }

    .conteudotexto{
        padding: 30px 30px;
    }
}

/* Mobile */

@media only screen and (max-width: 375px) {

    h2{
        font-size: 15px;
    }

    h3{
		font-size: 50px;
	}

    .box{
        height: 6500px;
    }

    .leitura{
        padding: 0;
        margin: 0;
    }

    .paper-row {
        flex-direction: column;
        gap: 10px;
        margin: 10px auto;
    }
    
    .paper {
        width: 350px; 
        height: 450px;
    }

    .paper h4 {
        margin: 40px;
        font-size: 16px;
    }

    .conteudotexto{
        padding: 10px;
        margin: 0;
    }
}